@charset "utf-8";
/* CSS Document */
body {
    background: #eeeeed;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    line-height: 1;

    font-family:'微软雅黑';
}
html {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*{
    margin:0;
    padding:0;
}

ul li{
    list-style:none;
}
.clear{
    clear:both;
}
.top{
    width:100%;
    background:url(../images/09.png) repeat-x;
}
.top_a{
    width:100%;
    height:45px;
    margin:0 auto;
    position:relative;
}
.top_a>div{
    margin-left:10px;
    margin-right:5px;
}
.top_logo, .top_logo_02{
    display:block;
    height:30px;
    padding-top:4px;
    float:left;
}
.top_logo_02{
    margin-top:11px;}
.nav{
    position:absolute;
    width:1360px;
    margin-top:9px;
    z-index: 999;
}
.nav__menu{
    width:1360px;
    height:29px;
    margin-left:700px;
    line-height: 15px;
    font-weight: 400;
    text-transform: uppercase;
}
.nav ul li{

    width:150px;
    padding-right:30px;
    height:29px;
    float: left;
}
.nav__menu>li:not(:last-child){
    background:url(../images/12.png) no-repeat right;

}
.nav__menu>li{
    text-align:right;
}

.nav__menu>li:not(:first-child){
    padding-left:30px;
}
.nav_bag01 ul li{
    padding-left:0px;
}
.nav_bag02 ul li{
    padding-left:0px;
}
.nav_bag03 ul li{
    padding-left:0px;
}
.nav_bag04 ul li{
    padding-left:0px;
}
.nav_bag05 ul li{
    padding-left:0px;
}
.nav li.nav_bag01{background:url(../images/nav_01.png) no-repeat;display: inline-block; position: relative;line-height:29px;font-size:18px; }
.nav li.nav_bag01:hover{background:url(../images/nva_bg.png) no-repeat; color:#FFF;cursor: pointer;}
.nav li.nav_bag02{background:url(../images/nav_02.png) no-repeat;display: inline-block; position: relative;line-height:29px;font-size:18px;}
.nav li.nav_bag02:hover{background:url(../images/nav_bg2.png) no-repeat;color:#FFF;cursor: pointer;}
.nav li.nav_bag03{background:url(../images/nav_03.png) no-repeat;display: inline-block; position: relative;line-height:29px;font-size:18px;}
.nav li.nav_bag03:hover{background:url(../images/nav_bg3.png) no-repeat;color:#FFF;cursor: pointer;}
.nav li.nav_bag04{background:url(../images/nav_04.png) no-repeat;display: inline-block; position: relative;line-height:29px;font-size:18px;}
.nav li.nav_bag04:hover{background:url(../images/nav_bg4.png) no-repeat;color:#FFF;cursor: pointer;}
.nav li.nav_bag05{background:url(../images/nav_05.png) no-repeat;display: inline-block; position: relative;line-height:29px;font-size:18px;}
.nav li.nav_bag05:hover{background:url(../images/nav_bg5.png) no-repeat;color:#FFF;cursor: pointer;}
.content{
    width:100%;
    overflow:hidden;
}
.content_Bg1{
    width:100%;
    height:30px;
}
.content_Bg2{
    background-color:#86a9d4;
    height:800px;
}
/*二级菜单样式*/
.Secondary_menu{
    font-weight:400;
    text-transform:none;
    display: none;
    position: absolute;
    overflow:hidden;
    left:2px;
    width:130px;
    color:#000;
    background: rgba(255, 255, 255, 0.8);
    z-index: 999;

}
/* .nav_bag01:hover .Secondary_menu, .nav_bag02:hover .Secondary_menu, .nav_bag03:hover .Secondary_menu, .nav_bag04:hover .Secondary_menu { */
.nav_bag01:hover .Secondary_menu, .nav_bag02:hover .Secondary_menu, .nav_bag03:hover .Secondary_menu, .nav_bag04:hover .Secondary_menu,.nav_bag05:hover  {
    display: block;

}
.Secondary_menu_item{
    border-bottom:1px solid #FFF;
    line-height:34px;
    font-size:16px;
    padding: 10px auto;
}
.Secondary_menu>li{

}
.Secondary_menu_item:hover{
    color:#364387;
    background-color:#e3d1b3;
}
.Secondary_menu_item a{
    color:#000;
    text-decoration: none;
    height:30px;
    width:130px;
    display: block;
    /*position: relative;*/
    text-align:center;

}
.Secondary_menu_item a:hover{
    text-decoration: none;
}
#footerbox{
    margin: auto auto;
    width: 1000px;
    height: 100px;
    clear: both;
    padding-top: 40px;
}
#footer {
    background: #eeeeed;
    padding-top: 18px;
    font-size: 18px;
    border-top: 1px solid #b6b6b6;
    color:#989898;
}
.copy{
    float: left;
    margin-left: 20px;
}

#footer ul{
    float:right;
}

#footer ul li{
    width:130px;
    float:left;
    text-align:center;
    border-left: 1px solid #b6b6b6;
}
.nav img{
    position:absolute;
    margin-left:16px;}