
/*设置表头行高*/
.datagrid-header-row {
	height: 25px;
	font-size: 16px;
	font-weight: bold;
	color: #0E2D5F;
}
/*表头字体大小*/
.datagrid-header .datagrid-cell span {
	font-size: 14px;
}
/*设置表格行高*/
.datagrid-row {
	height: 23px;
}
/*单元格显示字体*/
.datagrid-cell {
	font-size: 12px;
}

/* 标题设计*/
.panel-title {
	font-size: 18px;
	font-weight: bold;
	color: #0E2D5F;
	height: 25px;
	text-align: center;
	line-height: 25px;
}

.panel-body {
	background-color: #ffffff;
	color: #000000;
	font-size: 14px;
	width: 600px;
}

.tree-title {
	font-size: 14px;
	display: inline-block;
	text-decoration: none;
	vertical-align: top;
	white-space: nowrap;
	padding: 0 2px;
	height: 18px;
	line-height: 18px;
}

/* 
设置表头行高
.datagrid-header-row {
	height: 35px;
	font-size: 28px;
	font-weight: bold;
	color: #0E2D5F;
}
表头字体大小
.datagrid-header .datagrid-cell span {
  font-size: 14px;
}
设置表格行高
.datagrid-row {
	height: 35px;
}
单元格显示字体
.datagrid-cell {
	font-size: 14px;
}

列标号
.datagrid-cell-rownumber {
	font-size: 14px;
	height: 20px;
}

标题设计
.panel-title {
	font-size: 20px;
	font-weight: bold;
	color: #0E2D5F;
	height: 30px;
	text-align: center;
	line-height: 30px;
}

.panel-body {
  background-color: #ffffff;
  color: #000000;
  font-size: 14px;
  width:600px;
}
 */
/**分页设计*/
.pagination-page-list{
	font:14px;
}

.datagrid-pager {
  background: #F4F4F4;
  font: 14px;
}


.datagrid-toolbar {
	font-size: 14px;
}

.textbox{
			height:25px;
			margin:0;
			padding:0 2px;
			box-sizing:content-box;
		}
		

.file {
    position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #1E88C7;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
}
.file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
.file:hover {
    background: #AADFFD;
    border-color: #78C3F3;
    color: #004974;
    text-decoration: none;
}
		